<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBWRqPdty5ccX7Zm5TVV_Ezy8rl0tHEhVM</string>
	<key>GCM_SENDER_ID</key>
	<string>1088459541617</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.advanced.practiceAdvancedTopic.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>fir-newoperation</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-newoperation.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1088459541617:ios:54fd4221b3c6c4ef75dfd0</string>
</dict>
</plist>